@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');

.entire-page {
    font-family: 'Helvetica';
    height: 100%;
}

.top-half {
    background-color: whitesmoke;
    display: inline-block;
}

.about-us {
    text-align: center;
    font-size: 4em;
    margin: 1.75em 0em 1em 0em;
}

.website {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px 75px 150px;
}

.web-title {
    float: left;
    text-align: left;
    padding: 40px;
    font-size: 3em;
}

.web-description {
    float: left;
    text-align: left;
    padding: 0px 50px;
    font-size: 1.3em;
}

.graph {
    width: 50%;
    max-width: 40%;
}

.app-picture {
    width: 50%;
    text-align: center;
    max-width: 20%;
    margin-left: 80px;
}

.app-title {
    display: inline;
    float: right;
    text-align: right;
    padding: 40px;
    font-size: 3em;
}

.app-description {
    float: right;
    text-align: right;
    padding: 0px 50px;
    font-size: 1.3em;
}

.application {
    display: flex;
    flex-direction: row;
    margin: 75px;
}

.team {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.bottom-half {
    background-color: #dfaec1;
    color: white;
}

.bottom-half1 {
    background-color: #dfaec1;
    color: white;
}

.portraits {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    padding: 40px;
}

.users {
    text-align: center;
    padding: 10px;
    clear: both;
}

.name {
    display: inline-block;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    display: inline-block;
    padding-left: 0;
}